body {
  background-color: Black;
  text-align: center;
}

h1 {
  font-size: 50px;
  font-family: Verdana;
  font-weight: normal;
  color: white;
}

h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
}

.link {
  color: AquaMarine;
  font-size: 16px;
  text-decoration: underline;
}

h3 {
  font-family:Verdana;
  font-size: 21px;
  color: Gray;
}

#footer {
  text-align: right;
  color: Gray;
}
